@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
input {
   font-family: 'Manrope', sans-serif;
   letter-spacing: 1.1px;
  background-color: #4f5d74;
  color: #53ffaa;
}
.random:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #53ffaa;
}
button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #53ffaa;
}
button {
  cursor: pointer;
   font-family: 'Manrope', sans-serif;
}
.searchBtn:disabled {
  opacity: 55%;
  cursor: not-allowed;
}
.searchBtn:disabled:hover {
  box-shadow: none;
}
@media screen and (max-width: 540px) {
  .Container {
    width: 343px;
    height: 347px;
    margin-right: -300px;
    justify-content: center;
  }
}
